@model double

@{
    ViewBag.Title = "Test Result";
}




<p> Your result: @Model % right answers.</p>


<a class="btn btn-primary btn-sm waves-effect waves-light" href="/Home/Tests">Back to List</a>

